#gameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border: 2px solid #555;
  display: block;
  background: #87CEEB; /* небо */
}
