{{- $code := .Inner | chomp -}}
{{- $inline := .Get "inline" | default "false" -}}
{{- $hash := .Get "hash" -}}

{{- $svgPath := printf "static/latex/%s.svg" $hash -}}

{{- if eq $inline "true" }}
<span class="latex-inline">
  {{- if (fileExists $svgPath) -}}
    {{- readFile $svgPath | safeHTML -}}
  {{- else -}}
    <code>{{ $hash }}</code>
  {{- end -}}
</span>
{{- else -}}
<div class="latex-block">
  {{- if (fileExists $svgPath) -}}
    {{- readFile $svgPath | safeHTML -}}
  {{- else -}}
    <code>{{ $hash }}</code>
  {{- end -}}
</div>
{{- end -}}