{{- $inline := eq (.Get 0) "inline" -}}
{{- $latex := .Inner | strings.TrimSpace -}}
{{- $hash := sha1 $latex -}}
{{- $svgPath := printf "static/math/%s.svg" $hash -}}

{{- if $inline -}}
<span class="inline-formula">
  {{- if (fileExists $svgPath) -}}
    {{- readFile $svgPath | safeHTML -}}
  {{- else -}}
    <code>{{ $latex }}</code>
  {{- end -}}
</span>
{{- else -}}
<div class="block-formula">
  {{- if (fileExists $svgPath) -}}
    {{- readFile $svgPath | safeHTML -}}
  {{- else -}}
    <code>{{ $latex }}</code>
  {{- end -}}
</div>
{{- end -}}
